<app-top-section
  [isHome]="true"
></app-top-section>
<app-about-section></app-about-section>
<app-skill-section
  [title]="'Skills'"
  [skills]="skills"
></app-skill-section>
<app-carousel-section
  [id]="'tools-section'"
  [title]="'Tools'"
  [items]="tools"
></app-carousel-section>
<app-carousel-section
  [id]="'technologies-section'"
  [title]="'Technologies'"
  [items]="technologies"
></app-carousel-section>
<app-timeline-section
  [id]="'education-section'"
  [title]="'Education'"
  [items]="education"
></app-timeline-section>
<app-timeline-section
  [id]="'experience-section'"
  [title]="'Experience'"
  [items]="experience"
></app-timeline-section>
<app-blog-section
  [title]="'Academic Projects'"
  [maxPosts]="5"
></app-blog-section>